<footer>
<br />
<br />
<p>
    POKEMON<br />
    Gotta Catch 'Em All'
</p>
<br>
<div class="social-icons">
    <a href="https://github.com/JcBlas" target="_blank" 
    class="icon-link">
        <i class="'fab fa-github"></i>
    </a>
    <a href="https://www.facebook.com/xPeke.JcBlas" target="_blank" 
    class="icon-link">
        <i class="'fab fa-facebook"></i>
    </a>
    <a href="https://www.instagram.com/centchou/" target="_blank" 
    class="icon-link">
        <i class="'fab fa-instagram"></i>
    </a>
    <p>
        &copy; 2023 JcBlas Pokemon. All Rights Reserved.
    </p>
</footer>